apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
  labels:
    app: {{ .Chart.Name | quote }}
data:
  replicas: {{ .Values.replicaCount | default 1 }}
  {{- if .Values.extraConfig }}
  extra: {{ toYaml .Values.extraConfig | nindent 4 }}
  {{- end }}
