// Color and utility functions
@base-color: #428bca;

.button {
  background: darken(@base-color, 10%);
  border-color: lighten(@base-color, 5%);
  color: fade(@base-color, 90%);
  width: percentage(0.5);
  margin: ceil(3.4px);
}
